.dataTable {
  width: 100%;
}

.dataTable .datatableTitle {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dataTable .datatableTitle .link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.dataTable .dataGrid {
  background: white;
  padding: 20px;
}
.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}
.dataTable .dataGrid img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.dataTable .dataGrid .action {
  display: flex;
  gap: 15px;
}
.dataTable .dataGrid .action img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
