:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --blackColor: hsl(0, 0%, 18%);
  --bgColor: hsl(220, 10%, 94%);
}

.new {
  width: 100%;
  display: flex;
  border-top: 1px solid gray;
}
.new .newContainer {
  flex: 6;
}
.new .newContainer .top,
.new .newContainer .bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin-top: 20px;
  display: flex;
}
.new .newContainer .top h1,
.new .newContainer .bottom h1 {
  color: var(--blackColor);
  font-size: 25px;
}

.new .newContainer .bottom .formDiv {
  flex: 2;
}
.new .newContainer .top .formDiv .form,
.new .newContainer .bottom .formDiv .form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.new .newContainer .bottom .formDiv .form .inputDiv {
  width: 40%;
  margin-bottom: 1rem;
}

.new .newContainer .bottom .formDiv .form .inputDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: 14px;
  display: block;
  margin-bottom: 1rem;
}

.new .newContainer .bottom .formDiv .form .inputDiv .input .icon {
  color: var(--greyText);
}

.new .newContainer .bottom .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  border-radius: 10px;
}

.new .newContainer .bottom .formDiv .form .inputDiv .input input,
.new .newContainer .bottom .formDiv .form .inputDiv .input .autocomplete {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  background: var(--bgColor);
}

.new .newContainer .bottom .formDiv .form .btn {
  padding: 0.8rem;
  background: var(--PrimaryColor);
  border-radius: 10px;
  color: var(--whiteColor);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}

.new .newContainer .bottom .formDiv .form .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}

.new .newContainer .bottom .formDiv .form .btn:hover {
  background: var(--HoverColor);
  color: var(--blackColor);
}

.new .newContainer .bottom .formDiv .form .btn:hover .icon {
  color: var(--blackColor);
  transform: translateX(5px);
}

.new .newContainer .bottom .formDiv .form .inputDiv .input label {
  font-weight: 600;
  color: #777777;
  margin-bottom: 11px;
  width: 100%;
  float: left;
  cursor: pointer;
  padding: 0 0.6em;
  box-sizing: border-box;
  transition: all 0.5s ease 0s;
}

.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='radio'],
.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='checkbox'] {
  display: none;
}

.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='checkbox'] + label {
  line-height: 3em;
}

.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='radio'] + label {
  border-radius: 50px;
}

.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='radio']:disabled + label,
.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='checkbox']:disabled + label {
  color: #ccc !important;
  cursor: not-allowed;
}
.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='radio']:checked:disabled
  + label:after,
.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='checkbox']:checked:disabled
  + label:after {
  border-color: #ccc;
}

.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='radio'] + label:before,
.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='checkbox'] + label:before {
  content: '';
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 0.5em;
  border: 2px solid #ccc;
  background: #fff;
  margin-top: 0.5em;
}
.new .newContainer .bottom .formDiv .form .inputDiv .input input[type='radio'] + label:before {
  border-radius: 100%;
}

.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='radio']:checked
  + label:after {
  content: '';
  width: 0;
  height: 0;
  border: 7px solid var(--PrimaryColor);
  float: left;
  margin-left: -1.85em;
  margin-top: 1em;
  border-radius: 100%;
}
.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='checkbox']:checked
  + label:after {
  content: '';
  width: 12px;
  height: 6px;
  border: 4px solid var(--PrimaryColor);
  float: left;
  margin-left: -2.1em;
  border-right: 0;
  border-top: 0;
  margin-top: 1em;
  transform: rotate(-55deg);
}

.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='radio']:checked
  + label:before,
.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='checkbox']:checked
  + label:before {
  border-color: var(--PrimaryColor);
}

.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='radio']:checked:disabled
  + label,
.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='checkbox']:checked:disabled
  + label {
  background: #ccc;
  color: #fff !important;
}

.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='radio']:checked:disabled
  + label:before,
.new
  .newContainer
  .bottom
  .formDiv
  .form
  .inputDiv
  .input
  input[type='checkbox']:checked:disabled
  + label:before {
  border-color: #bdbdbd;
}

.new .newContainer .bottom .formDiv .form .inputDivGrid {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 602px) {
  .new .newContainer .bottom .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }

  .new .newContainer .bottom .formDiv .form {
    gap: 0.5rem;
  }

  .new .newContainer .bottom .formDiv .form .inputDiv .input input {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .new .newContainer .bottom .formDiv .form .inputDiv {
    width: 100%;
  }
}
