:root {
  --PrimaryColor: #528e25;
  --HoverColor: #bdf094;
  --paleGreen: #dff8ce;
  --whiteColor: #fff;
  --blackColor: #2e2e2e;
  --textColor: #79797c;
  --bgColor: #eeeff1;
  --greyText: #bebebe;
  --inputColor: #f8f6f7;
  /* Font and typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}
.topSection .headerSection {
  justify-content: space-between;
}
.topSection .headerSection .title h1 {
  font-size: var(--h1FontSize);
  color: var(--blackColor);
  font-weight: 700;
}
.topSection .headerSection .title p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  font-weight: 500;
}
.topSection .headerSection .searchBar {
  padding: 1rem 2rem;
  background: var(--whiteColor);
  border-radius: 5px;
  gap: 1rem;
  box-shadow: 0 2px 4px var(--inputColor);
}
.topSection .headerSection .searchBar input {
  border: none;
  outline: none;
  background: none;
}
.topSection .headerSection .searchBar .icon {
  color: var(--textColor);
}
.topSection .headerSection .searchBar .icon:hover {
  color: var(--PrimaryColor);
}
.topSection .headerSection .adminDiv {
  gap: 1rem;
}
.topSection .headerSection .adminDiv .icon {
  font-size: var(--biggestFontSize);
  background: var(--whiteColor);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px var(--inputColor);
  color: var(--textColor);
}
.topSection .headerSection .adminDiv .adminImage {
  border: 3px solid var(--whiteColor);
  border-radius: 10px;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px var(--inputColor);
}
.topSection .headerSection .adminDiv .adminImage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap {
  position: absolute;
  top: 120px;
  right: 1%;
  padding: 10px 20px;
  background: #fff;
  width: 320px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 101;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap.open-menu {
  max-height: 400px;
  top: 90px;
  visibility: visible;
  opacity: 1;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu {
  background: var(--whiteColor);
  padding: 20px;
  margin: 10px;
  border-radius: 1rem;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .user-info {
  display: flex;
  align-items: center;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .user-info h3 {
  font-weight: 500;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .sub-menu-link p {
  width: 100%;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}
.topSection
  .headerSection
  .adminDiv
  .adminImage
  .sub-menu-wrap
  .sub-menu
  .sub-menu-link:hover
  span {
  transform: translateX(5px);
}
.topSection .headerSection .adminDiv .adminImage .sub-menu-wrap .sub-menu .sub-menu-link:hover p {
  font-weight: 600;
}

.topSection .cardSection {
  margin-top: 3rem;
  gap: 1rem;
}
.topSection .cardSection .rightCard {
  position: relative;
  flex-basis: 70%;
  height: 200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.topSection .cardSection .rightCard .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.topSection .cardSection .rightCard .videoDiv video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topSection .cardSection .rightCard h1,
.topSection .cardSection .rightCard p,
.topSection .cardSection .rightCard .btn {
  z-index: 100;
}
.topSection .cardSection .rightCard h1 {
  font-size: var(--h1FontSize);
  color: var(--whiteColor);
  font-weight: 800;
}
.topSection .cardSection .rightCard p {
  padding: 1rem;
  color: var(--paleGreen);
  font-weight: 500;
}
.topSection .cardSection .rightCard .buttons {
  gap: 1rem;
}
.topSection .cardSection .rightCard .buttons .btn {
  box-shadow: none;
  padding: 0.8rem 1.5rem;
  color: var(--PrimaryColor);
  border: 2px solid transparent;
}
.topSection .cardSection .rightCard .buttons .transparent {
  background: none;
  border: 2px solid var(--paleGreen);
  color: var(--paleGreen);
}
.topSection .cardSection .rightCard .buttons .transparent:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}
.leftCard {
  flex-basis: 50%;
}
.leftCard .sideBar {
  background: var(--whiteColor);
  box-shadow: 1px 0px 4px var(--greyText);
  width: 18%;
  height: 100%;
  gap: 3rem;
  overflow: auto;
}
.leftCard .logoDiv {
  padding: 1.5rem 1.5rem 0;
  cursor: pointer;
}
.leftCard .logoDiv img {
  max-width: 20px;
  margin-right: 0.5rem;
  background: var(--inputColor);
  border-radius: 2px;
  padding: 0.2rem;
}
.leftCard .logoDiv h2 {
  font-size: var(--h2FontSize);
  color: var(--PrimaryColor);
}
.leftCard .menuDiv .divTitle,
.leftCard .settingsDiv .divTitle {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  padding: 0 1.5rem 1.5rem;
}
.leftCard .menuDiv .menuList .listItem,
.leftCard .settingsDiv .menuList .listItem {
  padding: 0.2rem 1.5rem;
  width: 100%;
  position: relative;
}
.leftCard .menuDiv .menuList .listItem::before,
.leftCard .settingsDiv .menuList .listItem::before {
  position: absolute;
  content: '';
  height: 0%;
  left: 0;
  width: 5px;
  bottom: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--PrimaryColor);
}
.leftCard .menuDiv .menuList .listItem .menuLink,
.leftCard .settingsDiv .menuList .listItem .menuLink {
  color: var(--greyText);
  font-weight: 500;
  transition: 0;
}
.leftCard .menuDiv .menuList .listItem .menuLink .icon,
.leftCard .settingsDiv .menuList .listItem .menuLink .icon {
  margin-right: 0.5rem;
}
.leftCard .menuDiv .menuList .listItem:hover .menuLink,
.leftCard .settingsDiv .menuList .listItem:hover .menuLink {
  color: var(--PrimaryColor);
  transition: 0;
}
.leftCard .menuDiv .menuList .listItem:hover::before,
.leftCard .settingsDiv .menuList .listItem:hover::before {
  height: 100%;
  transition: 0.3s ease;
}
.leftCard .sideBarCard {
  display: none;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.leftCard .sideBarCard .icon {
  position: absolute;
  background: var(--HoverColor);
  border: 10px solid var(--whiteColor);
  font-size: 3rem;
  border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(50%);
  z-index: 100;
}
.leftCard .sideBarCard .cardContent {
  position: relative;
  padding: 1rem;
  background: var(--HoverColor);
  border-radius: 10px;
  overflow: hidden;
}
.leftCard .sideBarCard .cardContent h3 {
  font-size: var(--h3FontSize);
  margin-top: 1rem;
  padding: 1rem 0;
  font-weight: 800;
  color: var(--blackColor);
}
.leftCard .sideBarCard .cardContent p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
  font-weight: 500;
}
.leftCard .sideBarCard .cardContent .btn {
  position: relative;
  color: var(--textColor);
  z-index: 1000;
}
.leftCard .sideBarCard .cardContent .circle1,
.leftCard .sideBarCard .cardContent .circle2 {
  position: absolute;
  background: var(--paleGreen);
  border-radius: 50%;
  opacity: 0.7;
}
.leftCard .sideBarCard .cardContent .circle1 {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
}
.leftCard .sideBarCard .cardContent .circle2 {
  height: 150px;
  width: 150px;
  bottom: -80px;
  right: -70px;
  z-index: 1;
}
.leftCard .main {
  position: relative;
  padding: 1rem;
  height: 200px;
  border-radius: 1rem;
  justify-content: space-between;
}
.leftCard .main::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 75%;
  background-color: var(--paleGreen);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
}
.leftCard .main .textDiv {
  z-index: 100;
}
.leftCard .main .textDiv h1 {
  font-size: var(--h1FontSize);
  padding-bottom: 1rem;
  color: var(--blackColor);
}
.leftCard .main .textDiv .flex {
  gap: 1.5rem;
  font-weight: 500;
  color: var(--blackColor);
}
.leftCard .main .textDiv .flex small {
  font-size: var(--normalFontSize);
  display: block;
  color: var(--PrimaryColor);
  font-weight: 500;
  padding: 0.5rem 0;
}
.leftCard .main .link {
  margin-top: 2rem;
}
.leftCard .main .link:hover {
  color: var(--PrimaryColor);
}
.leftCard .main .link:hover .icon {
  transform: translateX(10px);
  transition: 0.3s ease;
}
.leftCard .main .imgDiv {
  transform: translateY(-20px);
}
.leftCard .main .imgDiv img {
  width: 200px;
}
/* MEDIA QUERIES ====> */
@media screen and (max-width: 990px) {
  .cardSection {
    flex-direction: column;
  }
  .cardSection .rightCard,
  .cardSection .leftCard {
    width: 100%;
    flex-basis: 100%;
  }
  .cardSection .leftCard {
    margin-top: 2rem;
    align-self: flex-start;
    height: 10px !important;
  }
  .cardSection .leftCard .sideBarCard {
    display: block !important;
  }
}
@media screen and (max-width: 918px) {
  .headerSection .searchBar {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  .cardSection .leftCard .main {
    width: 100%;
  }
  .cardSection .leftCard .sideBarCard {
    display: none !important;
  }
}
@media screen and (max-width: 490px) {
  .headerSection .adminDiv {
    display: none;
  }
  .headerSection .title {
    text-align: center;
    margin: auto;
  }
  .cardSection .rightCard {
    text-align: center;
  }
  .cardSection .rightCard .buttons {
    margin: auto;
    flex-direction: column;
  }
  .cardSection .rightCard .buttons .btn {
    width: 100%;
  }
  .leftCard .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .leftCard .main .textDiv {
    margin: auto;
  }
  .leftCard .main::before {
    width: 100% !important;
  }
  .leftCard .main .imgDiv {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .topSection .cardSection .rightCard {
    text-align: center;
    padding: 2rem 1rem;
  }
  .topSection .cardSection .rightCard h1 {
    font-size: var(--h2FontSize);
  }
}
